NUXT_PUBLIC_SITE_URL=https://golgana.net
NUXT_PUBLIC_GTM_ID=GTM-XXXXXXX
NUXT_PUBLIC_GA4_ID=G-XXXXXXXXXX
NUXT_USE_BACKEND=false
NUXT_CMS_API_URL=
NUXT_CMS_API_KEY=
NUXT_REVALIDATE_SECRET=
NUXT_IMAGE_HANDLER_URL=
